In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('FinalDataset.csv')

In [3]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [4]:
df.head()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_1,Dependents_2,Dependents_3+,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,5849,0.0,128.0,360.0,1.0,1,0,0,0,0,0,0,0,1,1
1,4583,1508.0,128.0,360.0,1.0,1,1,1,0,0,0,0,0,0,0
2,3000,0.0,66.0,360.0,1.0,1,1,0,0,0,0,1,0,1,1
3,2583,2358.0,120.0,360.0,1.0,1,1,0,0,0,1,0,0,1,1
4,6000,0.0,141.0,360.0,1.0,1,0,0,0,0,0,0,0,1,1

In [5]:
df['Credit_History'].nunique()

2

In [6]:
X = df.drop('Loan_Status_Y', axis=1)
y = df['Loan_Status_Y']

In [ ]:
X.drop('')

In [7]:
X.columns

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Gender_Male', 'Married_Yes',
       'Dependents_1', 'Dependents_2', 'Dependents_3+',
       'Education_Not Graduate', 'Self_Employed_Yes',
       'Property_Area_Semiurban', 'Property_Area_Urban'],
      dtype='object')

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=101)

### Trying out a variant of RandomForest

In [9]:
rf_clf = RandomForestClassifier(n_estimators=100,
                                max_depth = 3, 
                                min_samples_leaf=10)

In [10]:
rf_clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=3, min_samples_leaf=10)

In [11]:
y_predictions = rf_clf.predict(X_test)

In [12]:
print('The accuracy of this variant of RF is ', accuracy_score(y_test, y_predictions) * 100)

The accuracy of this variant of RF is  78.37837837837837

In [13]:
testValue = X.iloc[1]

In [14]:
testValue

ApplicantIncome            4583.0
CoapplicantIncome          1508.0
LoanAmount                  128.0
Loan_Amount_Term            360.0
Credit_History                1.0
Gender_Male                   1.0
Married_Yes                   1.0
Dependents_1                  1.0
Dependents_2                  0.0
Dependents_3+                 0.0
Education_Not Graduate        0.0
Self_Employed_Yes             0.0
Property_Area_Semiurban       0.0
Property_Area_Urban           0.0
Name: 1, dtype: float64

### Creating a pickle file for using the model

In [15]:
import pickle
pickle_out = open("classifier4.pkl", "wb")
pickle.dump(rf_clf, pickle_out)
pickle_out.close()